@media (max-width: 768px) {
    .imgCont {
        display: none; /* Hide the image */
    }
    .col-md-6 {
        justify-content: center;
      }
      .row{
          padding-bottom: 10%;
        }
      
}
    